.blogContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.blogTitle {
  font-size: 2.5rem;
  color: #34495e;
  text-align: center;
  padding-bottom: 30px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.cardArticle {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.articleImage {
  height: 100%;

  .imgPostClass {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
}

.articleContent {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleArticle {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

.articleExcerpt {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  // max-height: 6em;

  /* Standard property for other browsers */
  line-clamp: 4;
}
.readMoreBtn {
  align-self: flex-start;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}

@media (max-width: 768px) {
  .cardArticle {
    grid-template-columns: 1fr;
  }

  .articleImage {
    .imgPostClass {
      border-radius: 20px 20px 0 0;
    }
  }

  .articleContent {
    padding: 20px;
  }

  .titleArticle {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .blogTitle {
    font-size: 2rem;
  }

  .titleArticle {
    font-size: 1.3rem;
  }
}

// .articleExcerpt {
//   border: 1px solid red;
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -moz-line-clamp: 3;
//     line-clamp: 3;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-height: calc(3 * 1.2em);
// }
