@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.pricing-card {
  border: 1px solid #ddd4d4;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.pack-name {
  text-align: center;
  background: #f0f3f4;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.pack-name h1,
.pack-name h2,
.pack-name p {
  color: #4e6f91;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.old-price {
  text-decoration: line-through;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.pack-details {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pack-details p {
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0;
}

.pricing-container button {
  background-color: #4e6f91;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}

.pricing-container button:hover {
  background: linear-gradient(135deg, #5b71ed 0%, #fad0c4 100%);
}

@media (max-width: 768px) {
  .pricing-card {
    width: 100%;
    max-width: 400px;
  }
}

.text-structure {
  border-radius: 10px;
  padding: 10px;
}

.card-advanced .pack-name,
.card-starter .pack-name,
.card-premium .pack-name {
  background: linear-gradient(
    90deg,
    rgba(229, 229, 229, 1) 0%,
    rgba(240, 243, 244, 1) 96%
  );
}

.card-premium,
.card-starter {
  border-bottom: 18px solid #4e6f91;
}
