// .SCSS FILE FOR IQTestInfo Section

// PARENT IQTESTINFO
.iqtest_parent {
  // background-color: #34495e;
  // background: linear-gradient(to right, #3e5d7c, #6fa3c1);
  background-color: #eaf7f9;
}

.section_infotest {
  // border: 1px solid black;
  // margin: 10px;
  width: 85%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 10px;
}

// Headline Section
.headline_section {
  //   border: 1px solid red;
  width: 100%;
  background-color: white;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    // color: white;
    // color: #34495e;
    font-weight: 300;
    color: #34495e;
    font-size: 20px;
    letter-spacing: 3px;
  }
}

// Image && Text
.image_text {
  //   border: 1px solid red;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 350px;
  gap: 20px;
  padding: 30px;
}

// Diagram img
.img_diagram_div {
  //   border: 1px solid white;

  .class_diagram_img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
  }
}
// Test diagram
.text_diagram {
  //   border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .para_diagram {
    color: #191919;
    // font-size: 22px;
  }
}

// Button Start Test
.btn_start_test {
  //   border: 1px solid red;
  padding: 10px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .btn_taketest {
    width: 300px;
    font-size: 25px;
    background-color: #3e5d7c;
  }
}

// MEDIA QUERY [SMALL SCREENS]
@media (max-width: 480px) {
  .image_text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .headline_section {
    background-color: transparent;

    h1 {
      color: white;
    }
  }
}

// MEDIA QUERY FOR SMALL DEV [TABLETS]
@media (min-width: 481px) and (max-width: 768px) {
  .image_text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .headline_section {
    background-color: transparent;

    h1 {
      color: white;
    }
  }
}
