// .SCSS FILE FOR LOADING TEST

// PARENT LOADING CARD
.ParentCard {
  width: 100dvw;
  height: 100dvh;
  //   border: 2px solid red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gifDiv {
  width: 200px;
  height: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.loadingCard {
  width: 300px;
  height: 300px;

  background-color: #1c273a;
  border-radius: 10px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
