footer {
  background-color: #34495e;
  color: #fff;
  padding: 20px 0;

  /* fix footer  */
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
.parrent-div {
  /* flex setting  */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}
#social-media {
  display: flex;
  justify-content: space-between;
  /* margin-left: 10px; */
  padding-top: 30%;
}

/* COPYRIGHT DIV */
.copyright_section {
  /* border: 1px solid black; */

  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright {
  color: #fff;
  font-weight: 700;
  border: none;
  margin-bottom: 0px !important;

  font-size: small;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
ul {
  list-style: none;
  padding: 0;
}
