/* quiz.css */
.quiz-container {
  max-width: 800px;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  min-height: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.quiz-header h2 {
  font-size: 1.5rem;
  color: #333;
}

.timer {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #191919;
}

.question-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-text {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.question-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.option-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.option-button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.option-image {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}
.navigation-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.navigation-buttons button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button {
  background-color: #28a745 !important;
  grid-column: 2 / 3;
}

.submit-button:hover {
  background-color: #218838 !important;
}
.qouteList {
  border-bottom: 2px solid royalblue;
  padding: 10px;
  text-align: center;
}

.iconArrowLeft {
  margin-right: 10px;
}

.iconArrowRight {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .options-container {
    grid-template-columns: 1fr;
  }

  .option-button {
    width: 100%;
  }
}
