* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: "Poetsen One", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-weight: 700; */
  margin-bottom: 0px !important;
}
